
.leaderboard-menu {
    padding: 1.2rem 0.6rem;
    text-align: left;
    float:right;
    width: 20rem;
    height: 94.2vh;
    background-color: var(--bg-tertiary);
    margin:0;
}
.leaderboard-menu h4 {
    margin: 0px 0px 1.2rem 0px;
    display: inline-block;
}

.leaderboard-menu .table th {
    background-color: var(--bg-primary);
}

.leaderboard-menu .table .name {
    text-align: left;
}
.leaderboard-menu .table .time {
    text-align: right;
}

.leaderboard_diff_btn {
    background-color: none;
    outline:none;
    border:none;
    cursor:pointer;

    width: 5rem;
    height: 2.2rem;

    padding:0;
    
    font-size: 1.2rem;

    font-family: 'Open Sans', sans-serif;

    transition:background-color 120ms, color 125ms, padding-left 190ms, border-left 180ms;
}

.leaderboard_diff_btn:hover {
    padding-left: 0.6rem;
}

.leaderboard_diff_btn:active {
    padding-left: 0.4rem;
}

.btn-g {
    background-color: transparent;
    color:#0F0;
    border-left:2px solid #0F0;
}

.btn-y {
    background-color: transparent;
    color:#FF0;
    border-left:2px solid #FF0;
}
.btn-r {
    background-color: transparent;
    color:#F00;
    border-left:2px solid #F00;
}

/* LEADERBOARD TABLES */
.table {
    margin:0;
    animation: color-shift 10s linear 0s infinite alternate;
    border-bottom: 4px solid #898989;
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
    width: 100%;
    overflow: auto;
    height: 8rem;
}

.table .column-header {
    width: 100%;
    background-color: var(--bg-secondary);
    
}

.table .column-header div {
    display:inline-block;
    font-family: 14px;
}

.table .column-header div:first-child, .table .column-rows .row .cell:first-child {
    width: 1.2rem;
    text-align: center;
    border-right: 1px solid #898989;
}

.table .column-header div:last-child, .table .column-rows .row .cell:last-child {
    float:right;
    width: 5rem;
    text-align: center;
    border-left: 1px solid #898989;
}

.table .column-rows .row .cell:last-child {
    text-align: left;
}

.table .column-rows .row:hover {
    background-color: #1A1A1A;
}

.table .column-rows {
    overflow:auto;
    border-bottom: 1px solid #898989;
}

.table .column-rows .row {
    width: 100%;
    transition:background-color 220ms linear;
}

.table .column-rows .row .cell {
    display: inline-block;
}
