.navbar {
    z-index: 1;
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-primary);

    animation: sidenav-border-shift 10s linear 0s infinite alternate;

    transition: width 220ms ease;
}

.navbar-nav {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    transition: background-color 120ms ease;
    width:100%;
}

.nav-item:hover {
    background-color: var(--bg-secondary);
}


.nav-item:last-child {
    background-color: var(--bg-secondary);
    margin-top:auto;
}

.nav-link {
    display:flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    display:none;
    margin-left: 1rem;
}

.nav-link svg{
    transition: color 120ms;
    transition: max-width 290ms;
    width: 2rem;
    max-width: 2.8rem;
    margin: 0 1rem;
}
.navbar:hover .navbar-nav .nav-item .nav-link svg {
    max-width: 2rem;
}

.profile-logo{
    font-weight: bold;
    margin-bottom: 0;
    text-align:center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    width: 100%;
    word-wrap: break-word;
    transition: background-color 120ms ease;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
}

.profile-logo svg {
    transform: rotate(0deg);
    transition: transform 300ms ease, margin-left 210ms ease;
}

.profile-logo:hover {
    background-color: var(--bg-secondary);
}

.profile-logo:hover svg {
    margin-left: 2rem;
}

.navbar:hover .profile-logo svg {
    transform: rotate(-180deg);
}
