.menu {
    float:left;
    margin: 10rem 0;
    text-align: left;
    width: 15%;
}

.login-menu {
    width: 25%;
}

.newgame-menu {
    margin: 13.5rem 0;
}
.play-menu {
    overflow: hidden;
    width: fit-content;
    /* background-color: red; */
}
a, a, a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-primary);
    transition: margin 172ms;
}
.element , .element, .element{
    margin: 0.8rem 0;
    width: 100%;
}

.element:hover, .element:hover, .element:hover {
    cursor:pointer;
}

.element:hover a,.element:hover a, .element:hover a {
    margin: 0 0.7rem;
    color:var(--text-secondary);
}

.main-menu .header h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 120;
    font-size: 4.2rem;
    margin:0;
}

.main-menu .header hr {
    margin:0;
    transition: width 1450ms ease;
    width: 0px;
    display: none;
}

.back-btn {
    margin: 0 0.4rem;
}

.back-btn svg {
    margin:0;
    transition: margin-right 150ms ease;
}

.back-btn:hover {
    cursor: pointer;
}

.back-btn:hover svg{
    margin-right: 0.4rem;
}

.element span {
    transition: opacity 152ms;
    opacity: 0;
}
.element:hover span {
    opacity: 1;
}

.play-menu {
    margin-bottom:0;
}

.play-menu #picker_element{
    float: left;
    /* margin-right: 2rem; */
    width: 300px;
}

.play-menu .slider-container {
    margin-left: 310px;
}

.play-menu #picker_element, .play-menu .slider-container {
    padding-top: 10px;
}

.play-menu .slider-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 20rem;
    height: 25%;
    
    outline:none;

    border-radius: 200px;
    height: 30px;
}

.play-menu .slider-container input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    background:black;
    cursor:pointer;
    border:2px solid white;
    border-radius: 15px;
}

.play-menu .slider-container #slider_r {
    background-image: linear-gradient(to right,black,red);
}

.play-menu .slider-container #slider_g {
    background-image: linear-gradient(to right,black,#0F0);
    margin-top: 3.7rem;
}

.play-menu .slider-container #slider_b {
    background-image: linear-gradient(to right,black,blue);
    margin-top: 3.7rem;
}
.play-menu .color-boxes {
    margin-left:0;
}

.play-menu .color-boxes {
    margin-top: 1rem;
}

.play-menu .color-boxes #color_g {
    float:left;
}

.play-menu .color-boxes #color_u {
    margin-left: 20rem;
}

.play-menu .color-boxes #color_g, .play-menu .color-boxes #color_u {
    background-color: black;
    height: 4rem;
    width: 19rem;
    border-radius: 1rem;
}
