@import "mainSideNav.css";
@import "menus.css";
@import "animations.css";
@import "leaderboards.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;

    /* Text Colors */
    --text-primary: #dedede;
    --text-secondary: #ececec;

    /* Background Colors */
    --bg-primary: #232323;
    --bg-secondary: #333;
    --bg-tertiary: #151515;
}

p {
    font-size: 16px;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin:0;
    padding:0;
}

main, .container {
    margin-left: 5rem;
    padding-left: 1rem;
    text-align:center;
    height: 100%;
}
.header {
    text-align: left;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.status-corner {
    margin-left: 0.58rem;
    position: absolute;
    bottom:2.5px;
    background-color: var(--bg-secondary);
    width: 20rem;

    padding:0;
    height: 2.4rem;

    border-top-left-radius: 0.5rem;

    font-size: 12px;
}

.login-menu input, .signup-menu input {
    background-color:transparent;
    color:white;
    outline: none;
    border:none;
    border-left: 2px solid #AAA;

    height: 1.5rem;
    width: 15rem;

    margin:4px 0;

    transition: border-left 250ms;
}
.login-menu button, .signup-menu button {
    background:none;
    color:white;
    padding:4px;
    border:0;
    border-bottom: 3px solid white;

    transition: opacity 800ms ease;
}

.login-menu button:hover, .signup-menu button:hover {
    opacity: 0.6;
    cursor: pointer;
}

#signup_error_message, #login_error_message {
    color: red;
    text-transform: uppercase;
    font-size: 14px;
}

#loading_message {
    font-family: 'Consolas';
}
